<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fitness Challenge</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  </head>
  <body class='center'>
    <h3 class='white teal-text'>Fitness For {{name}}</h3>

    <div class="row teal white-text" id="goal-row">
      <p>Goal: <span class="goal">{{goal}}</span></p>
      <p>Total So Far: <span class='total'>{{total}}</span></p>
    </div>
    <div class="row" id="form-row">
      <form>
        <div class='s6'>
          <!-- <label for="input-date">Date</label> -->
          <input input-date
              type="text"
              name="created"
              id="inputCreated"
              placeholder="date"
              ng-model="currentTime"
              format="dd/mm/yyyy" #inDate />
        </div>
        <div class='s6'>
          <!-- <label for="progress">Progress</label> -->
          <input name="progress" type="text" placeholder="100" #progress>
        </div>
        <button (click)='onSave(inDate.value, progress.value)' class='teal white-text'>Add</button>
      </form>
    </div>

    <div class='row' style='max-width:400px'>

      <table class='highlight'>
        <thead>
          <tr>
            <th>Date</th>
            <th>Progress</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let prog of progressData">
            <td>{{prog.date}}</td>
            <td>{{prog.progress}}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

    <!-- //  initialize datepicker -->
    <script type="text/javascript">
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: true // Close upon selecting a date,
      });
    </script>
  </body>
</html>
